/***====================================================================
    About Section CSS
====================================================================***/

.about-section {
    position: relative;
    padding: 120px 0;
    .icon-one {
        position: absolute;
        top: 280px;
        left: 385px;
        @include media-breakpoint-down(xl){display: none;}
        .rtl & {
            left: auto;
            right: 385px;
        }
    }
    .icon-two {
        position: absolute;
        top: 50%;
        right: 66px;
        transform: translateY(-50%);
        @include media-breakpoint-down(xl){display: none;}
        .rtl & {
            right: auto;
            left: 60px;
        }
    }
    .outer-box {
        padding-right: 66px;
        margin-bottom: 35px;
        @include media-breakpoint-down(xl){
            display: none;
        }
        .rtl & {
            padding-right: 0;
            padding-left: 66px;
        }
        .sec-title h2 br {
            @include media-breakpoint-down(xl){
                display: none;
            }
        }
    }
    .image-box {
        position: relative;
        text-align: right;
        .rtl & {
            text-align: left;
        }
        .image-outer {
            position: relative;
            display: inline-block;
            .image {
                position: relative;
                margin-bottom: 0;
                img {
                    border-radius: 50px;
                }
            }
            .icon-nineteen {
                position: absolute;
                bottom: 0;
                left: 0;
                .rtl & {
                    left: auto;
                    right: 0;
                    transform: scaleX(-1);
                }
                .dark-layout & {
                    display: none;
                }
            }
            .icon-twenty {
                position: absolute;
                top: 0;
                right: 0;
                .rtl & {
                    right: auto;
                    left: 0;
                    transform: scaleX(-1);
                }
                .dark-layout & {
                    display: none;
                }
            }
            .icon-twentyfour {
                position: absolute;
                bottom: 8px;
                left: 0;
                .rtl & {
                    right: 0;
                    left: auto;
                    transform: scaleX(-1);
                }
                .dark-layout & {
                    display: none;
                }
            }
        }
        .speaker-box {
            position: absolute;
            right: 69px;
            bottom: -51px;
            display: inline-flex;
            align-items: center;
            width: 297px;
            text-align: left;
            justify-content: center;
            padding: 10px;
            @include media-breakpoint-down(md){
                right: 50px;
            }
            @include media-breakpoint-down(sm){
                bottom: -30px;
                right: 20px;
                width: auto;
                background-color: #F5F5F5;
            }
            .rtl & {
                right: auto;
                left: 69px;
                @include media-breakpoint-down(md){
                    left: 50px;
                }
                @include media-breakpoint-down(sm){
                    left: 20px;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 297px;
                height: 102px;
                @include background;
                background-image: url(../images/icons/about-shape.png);
                @include media-breakpoint-down(sm){
                    display: none;
                }
                .rtl & {
                    transform: scaleX(-1);
                }
            }
            .icon {
                position: relative;
                font-size: 60px;
                line-height: 1em;
                color: var(--theme-color1);
                @include media-breakpoint-down(sm){
                    font-size: 30px;
                }
            }
            .count {
                position: relative;
                font-family: var(--title-font);
                color: #5A3695;
                font-size: 84px;
                line-height: 1em;
                font-weight: 800;
                padding-left: 5px;
                padding-right: 10px;
                @include media-breakpoint-down(sm){
                    font-size: 40px;
                }
            }
            .text {
                position: relative;
                line-height: 20px;
                color: var(--theme-color-dark);
                font-weight: 800;
                @include media-breakpoint-down(sm){
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 1.3em;
                }
                .rtl & {
                    text-align: right;
                }
            }
        }
    }
    .outer-box.two {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-right: 0;
        margin-bottom: 0;
        gap: 74px;
        @include media-breakpoint-down(xl){
            flex-direction: column;
            gap: 50px;
            align-items: flex-start;
        }
        .rtl & {
            padding-left: 0;
        }
        .image-box {
            flex-shrink: 0;
            @include media-breakpoint-down(xl){
                display: none;
            }
            .image {
                margin-bottom: 0;
            }
        }
        .sec-title {
            margin-bottom: 40px;
            .text {
                line-height: 36px;
                max-width: 705px;
                @include media-breakpoint-down(xl){
                    max-width: 100%;
                }
                @include media-breakpoint-down(sm){
                    line-height: 30px;
                }
                .dark-layout & {
                    color: #999999;
                }
            }
        }
        .btn-box {
            display: flex;
            gap: 20px;
            padding-bottom: 10px;
            @include media-breakpoint-down(sm){
                flex-wrap: wrap;
                align-items: flex-start;
            }
        }
    }

    .outer-box.show-xl {
        display: none;
        margin-top: 50px;
        @include media-breakpoint-down(xl){
            display: block;
            padding-right: 0;
            margin-bottom: 45px;
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 30px;
        }
        .rtl & {
            padding-left: 0;
        }
        .image img {
            @include media-breakpoint-down(xl){
                width: 100%;
            }
        }
    }
}

/***====================================================================
    About Section Two
====================================================================***/

.about-section-two {
    position: relative;
    padding: 120px 0 70px;
    .shape-fourteen {
        position: absolute;
        top: 100px;
        right: -300px;
        animation: fa-spin 50s linear infinite;
        @include for-xxl{
            display: none;
        }
        .rtl & {
            right: auto;
            left: -300px;
        }
    }
    .sec-title h2 br {
        @include media-breakpoint-down(xl){
            display: none;
        }
    }

    .image-column {
        margin-bottom: 50px;
        @include media-breakpoint-down(xl){
            order: 2;
        }
        .inner-column {
            position: relative;
            padding-bottom: 145px;
            @include media-breakpoint-down(xxl){
                padding-bottom: 0;
            }
            .icon-six {
                position: absolute;
                bottom: 0;
                left: -120px;
                animation: fa-spin 15s infinite linear;
                @include media-breakpoint-down(xxl){
                    display: none;
                }
                .rtl & {
                    left: auto;
                    right: -120px;
                }
            }
            .image {
                position: relative;
                border-radius: 30px;
                margin-bottom: 0;
                overflow: hidden;
                @include media-breakpoint-down(xl){
                    width: 100%;
                    height: 700px;
                    object-fit: cover;
                }
                @include media-breakpoint-down(md){
                    height: 550px;
                }
                @include media-breakpoint-down(sm){
                    height: 100%;
                }
                &.two {
                    position: absolute;
                    bottom: 0;
                    right: 20px;
                    @include media-breakpoint-down(xxl){
                        display: none;
                    }
                    .rtl & {
                        right: auto;
                        left: 20px;
                    }
                    img {
                        border: 7px solid var(--theme-color-light);
                    }
                }
                img {
                    position: relative;
                    border-radius: 30px;
                    transform-origin: center;
                    @include transition(all 300ms ease);
                }
                &:hover img {
                    transform: scale(1.1) !important;
                }
            }
            .author-box {
                position: absolute;
                bottom: 75px;
                left: 115px;
                padding: 20px;
                border-radius: 100px;
                display: flex;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                background-color: var(--theme-color-light);
                z-index: 3;
                @include media-breakpoint-down(xxl){
                    left: 30px;
                    bottom: 30px;
                }
                @include media-breakpoint-down(md){
                    padding: 10px;
                }
                @include media-breakpoint-down(sm){
                    display: none;
                }
                .rtl & {
                    left: auto;
                    right: 115px;
                    padding-right: 50px;
                    @include media-breakpoint-down(xxl){
                        right: 30px;
                    }
                }
                img {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    margin-left: -30px;
                    border-radius: 50%;
                    border: 2px solid var(--theme-color-light);
                    &:first-child {
                        margin-left: 0;
                    }
                    @include media-breakpoint-down(md){
                        width: 80px;
                        height: 80px;
                    }
                    .rtl & {
                        margin-left: 0;
                        margin-right: -30px;
                    }
                }
                .text {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    margin-left: -30px;
                    border-radius: 50%;
                    font-size: 48px;
                    color: var(--theme-color-light);
                    font-weight: 600;
                    line-height: 1em;
                    @include flex-center;
                    flex-shrink: 0;
                    background-color: var(--theme-color4);
                    @include media-breakpoint-down(md){
                        width: 80px;
                        height: 80px;
                        font-size: 30px;
                    }
                    .rtl & {
                        margin-left: 0;
                        margin-right: -30px;
                    }
                }
            }
        }
    }

    .content-column {
        margin-bottom: 50px;
        .inner-column {
            position: relative;
            padding-top: 35px;
            padding-left: 30px;
            padding-right: 160px;
            @include for-xxl{
                padding-right: 0;
            }
            @include media-breakpoint-down(xxl){
                padding-left: 0;
                padding-top: 0;
            }
            .rtl & {
                padding-left: 160px;
                padding-right: 30px;
                @include for-xxl{
                    padding-left: 0;
                }
                @include media-breakpoint-down(xxl){
                    padding-right: 0;
                }
            }
            .feature-list-two.two-column {
                @include media-breakpoint-down(sm){
                    flex-direction: column;
                }
                li {
                    @include media-breakpoint-down(sm){
                        padding-right: 0;
                        width: 100%;
                        flex: 1;
                        gap: 10px;
                    }
                    .title {
                        @include media-breakpoint-down(sm){
                            font-size: 18px;
                        }
                    }
                }
            }
            .btn-box {
                padding-top: 45px;
                display: flex;
                gap: 29px;
                @include media-breakpoint-down(sm){
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                    padding-top: 30px;
                }
            }
        }
    }
}

/***====================================================================
    About Section Three
====================================================================***/

.about-section-three {
    position: relative;
    padding: 120px 0 70px;
    background-color: #F5F5F5;
    .dark-layout & {
        background-color: var(--dark-layout-color);
    }
    .large-container {
        max-width: 1550px;
    }

    .image-column {
        margin-bottom: 50px;
        @include media-breakpoint-down(xxl){
            display: flex;
            align-items: flex-end;
        }
        @include media-breakpoint-down(lg){
            order: 2;
        }
        .inner-column {
            position: relative;
            @include media-breakpoint-down(lg){
                width: 100%;
            }
            .image-box {
                position: relative;
                display: flex;
                align-items: flex-end;
                gap: 25px;
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
                .image {
                    position: relative;
                    border-radius: 205px;
                    margin-bottom: 0;
                    overflow: hidden;
                    @include media-breakpoint-down(xl){
                        border-radius: 10px;
                    }
                    @include media-breakpoint-down(lg){
                        width: 100%;
                        height: 600px;
                        object-fit: cover;
                    }
                    @include media-breakpoint-down(sm){
                        height: 100%;
                    }
                    &.two {
                        @include media-breakpoint-down(xl){
                            display: none;
                        }
                    }
                    img {
                        position: relative;
                        border-radius: 205px;
                        transform-origin: center;
                        @include transition(all 300ms ease);
                        @include media-breakpoint-down(xl){
                            border-radius: 10px;
                        }
                    }
                    &:hover img {
                        transform: scale(1.1) !important;
                    }
                }
            }

            .exp-box {
                position: absolute;
                top: 0;
                right: 35px;
                border-radius: 150px;
                overflow: hidden;
                padding: 27px 50px 27px 45px;
                gap: 10px;
                @include flex-center;
                @include media-breakpoint-down(xxl){
                    top: -30px;
                }
                @include media-breakpoint-down(xl){
                    display: none;
                }
                .rtl & {
                    left: 35px;
                    right: auto;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 310px;
                    height: 120px;
                    border-radius: 150px;
                    @include background;
                    background-image: url(../images/icons/exp-bg.png);
                }
                .title {
                    position: relative;
                    font-size: 64px;
                    line-height: 1em;
                    font-family: var(--title-font);
                    color: var(--theme-color-light);
                    margin-bottom: 0;
                }
                .text {
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                    color: var(--theme-color-light);
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-column {
        margin-bottom: 50px;
        .inner-column {
            position: relative;
            padding-right: 100px;
            padding-left: 50px;
            margin-top: -10px;
            @include for-xxl{
                margin-top: 0;
            }
            @include media-breakpoint-down(xxl){
                padding-right: 0;
                padding-left: 0;
            }
            @include media-breakpoint-down(xl){
                margin-left: -40px;
            }
            @include media-breakpoint-down(lg){
                margin-left: 0px;
            }
            .rtl & {
                padding-right: 50px;
                padding-left: 100px;
                @include media-breakpoint-down(xxl){
                    padding-right: 0;
                    padding-left: 0;
                }
                @include media-breakpoint-down(xl){
                    margin-right: -40px;
                }
                @include media-breakpoint-down(lg){
                    margin-right: 0px;
                }   
            }
            .sec-title .text {
                padding-right: 30px;
                @include media-breakpoint-down(xxl){
                    padding-right: 0;
                }
                .rtl & {
                    padding-right: 0;
                    padding-left: 30px;
                    @include media-breakpoint-down(xxl){
                        padding-left: 0;
                    }   
                }
            }
            .blocks-box {
                position: relative;
                .thumb-box {
                    position: relative;
                    .image {
                        position: absolute;
                        bottom: -95px;
                        right: 10px;
                        img {
                            position: relative;
                            z-index: 2;
                        }
                        @include for-xxl{
                            display: none;
                        }
                        .rtl & {
                            left: 10px;
                            right: auto;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 190px;
                            height: 190px;
                            border-radius: 50%;
                            background-color: var(--theme-color-light);
                            z-index: 1;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 209px;
                            height: 209px;
                            border-radius: 50%;
                            background-color: #BBBBBB;
                        }
                    }
                }
            }
        }
    }
}

.about-block {
    margin-bottom: 30px;
    .inner-box {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 26px;
        @include media-breakpoint-down(sm){
            gap: 15px;
        }
        &:hover {
            .icon {
                transform: scaleX(-1);
            }
        }
        .icon {
            position: relative;
            color: #52048E;
            font-size: 48px;
            @include transition(all 300ms ease);
            @include media-breakpoint-down(sm){
                width: 40px;
                height: 40px;
            }
        }
        svg {
            flex-shrink: 0;
            width: 48px;
            height: 48px;
            @include transition(all 300ms ease);
            @include media-breakpoint-down(sm){
                width: 40px;
                height: 40px;
            }
        }
        .title {
            position: relative;
            color: #52048E;
            margin-bottom: 2px;
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
        .text {
            position: relative;
            margin-bottom: 0;
            .dark-layout & {
                color: var(--theme-color-light);
            }
            &.two {
                padding-right: 250px;
                @include for-xxl{
                    padding-right: 0;
                }
                .rtl & {
                    padding-right: 0;
                    padding-left: 250px;
                    @include for-xxl{
                        padding-left: 0;
                    }
                }
            }
        }
    }
}