

/***====================================================================
      Mobile Menu CSS
====================================================================***/

.mobile-nav-toggler {
    position: relative;
    font-size: 28px;
    line-height: 20px;
    cursor: pointer;
    color: var(--theme-color1);
    display: none;
    margin-left: 20px;
    order: 8;
    @include media-breakpoint-down(lg){
        display: block;
    }
}

.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    .menu-backdrop {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
    }
    .upper-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px;
    }
    .close-btn {
        position: relative;
        text-align: center;
        font-size: 18px;
        color: var(--theme-color1);
        cursor: pointer;
        z-index: 10;
        transition: all 0.5s ease;
        transform: translateY(-50px);
        &:hover {
            opacity: 0.5;
        }
    }
    .nav-logo {
        position: relative;
        text-align: left;
        width: 100%;
        .rtl & {
            text-align: right;
        }
        img {
            max-height: 40px;
        }
        &.light {
            display: block;
            .dark-layout & {
                display: none;
            }
        }
        &.dark {
            display: none;
            .dark-layout & {
                display: block;
            }
        }
    }
    .menu-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        background: var(--theme-color-light);
        padding: 0px 0px;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        border-radius: 0px;
        transform: translateX(101%);
        .dark-layout & {
            background: var(--dark-layout-color);
        }
    }
}

.mobile-menu-visible {
    overflow: hidden;
    .mobile-menu {
        opacity: 1;
        visibility: visible;
        .menu-backdrop {
            opacity: 1;
            visibility: visible;
            transition: all 0.4s ease;
        }
        .menu-box {
            opacity: 1;
            visibility: visible;
            transition: all 0.4s ease 200ms;
            transform: translateX(0%);
        }
        .close-btn {
            transform: translateY(0px);
        }
    }
    .scroll-to-top {
        opacity: 0;
        visibility: hidden;
    }
}

.mobile-menu .navigation {
    position: relative;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    .dark-layout & {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    li {
        position: relative;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        .dark-layout & {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        >ul>li:last-child {
            border-bottom: none;
        }
        >ul>li:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.10);
            .dark-layout & {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
        >a {
            position: relative;
            display: block;
            line-height: 24px;
            padding: 10px 20px;
            font-size: 16px;
            color: var(--theme-color-dark);
            font-weight: 400;
            text-transform: capitalize;
            .dark-layout & {
                color: var(--theme-color-light);
            }
            
        }
        &:hover>a,
        &.current>a {
            color: var(--theme-color1);
        }
        &.dropdown .dropdown-btn {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 44px;
            height: 44px;
            text-align: center;
            font-size: 16px;
            line-height: 44px;
            color: #000000;
            cursor: pointer;
            z-index: 5;
            .rtl & {
                right: auto;
                left: 0;
            }
            .dark-layout & {
                color: var(--theme-color-light);
            }
            &:after {
                content: '';
                position: absolute;
                left: 0px;
                top: 10px;
                width: 1px;
                height: 24px;
                border-left: 1px solid rgba(0, 0, 0, 0.10);
                .rtl & {
                    left: auto;
                    right: 0;
                }
                .dark-layout & {
                    border-left: 1px solid rgba(255, 255, 255, 0.10);
                }
            }
            &.active i:before {
                content: "\f106";
            }
        }
    }
}

.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul {
    display: none;
}

.mobile-menu .navigation li>ul>li {
    padding-left: 20px;
}


.contact-list-one {
    position: relative;
    padding: 30px 20px 20px;
    width: 100%;
    li {
        position: relative;
        padding-left: 54px;
        min-height: 50px;
        margin-bottom: 20px;
        .rtl & {
            padding-left: 0;
            padding-right: 54px;
        }
        .icon {
            position: absolute;
            left: 0;
            top: 0px;
            font-size: 34px;
            line-height: 40px;
            color: var(--theme-color1);
            .rtl & {
                left: auto;
                right: 0;
            }
        }
        .title {
            display: block;
            font-size: 14px;
            color: var(--theme-color-dark);
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
        .text{
            font-size: 14px;
            line-height: 24px;
            color: var(--theme-color-dark);
            .dark-layout & {
                color: var(--theme-color-light);
            }
            a {
                color: var(--theme-color-dark);
                @include transition(all 300ms ease);
                .dark-layout & {
                    color: var(--theme-color-light);
                }
                &:hover{
                    color: var(--theme-color1);
                }
            }
        }
    }
    &.light{
        li{
            .icon{
                color: var(--theme-color7);
            }
            .text,
            .title{
                color: var(--theme-color-light);
                a{
                    color: var(--theme-color-light);
                }
            }
        }
    }
}


.mobile-menu .social-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--theme-color-light);
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    margin-top: auto;
    .dark-layout & {
        background: var(--dark-layout-color);
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }
    li {
        position: relative;
        text-align: center;
        width: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.10);
        .dark-layout & {
            border-right: 1px solid rgba(255, 255, 255, 0.10);
        }
        a {
            position: relative;
            display: block;
            line-height: 50px;
            height: 50px;
            font-size: 14px;
            text-align: center;
            color: #000000;
            @include transition(all 300ms ease);
            &:hover {
                color: var(--theme-color2);
            }
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
    }
}


/***

====================================================================
  Hidden Sidebar CSS
====================================================================***/

.toggle-hidden-bar{
    position: relative;
}

.hidden-bar {
    position: fixed;
    right: 0;
    top: 0px;
    height: 100%;
    overflow-y: auto;
    z-index: 99999;
    max-width: 320px;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
    background: #ffffff;
    @include transition(all 500ms ease);
    .dark-layout & {
        background: var(--dark-layout-color);
    }

    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px #cecece;
        box-shadow: inset 0 0 2px #cecece;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #7a7a7a;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #7a7a7a;
    }
    .inner-box {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--theme-color-light);
        height: 100%;
        .dark-layout & {
            background: var(--dark-layout-color);
        }
    }
     .upper-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 30px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        .close-btn {
            position: relative;
            top: 4px;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            color: var(--theme-color1);
            cursor: pointer;
            z-index: 10;
            transition: all 0.5s ease;
            &:hover {
                opacity: 0.5;
            }
        }
        .nav-logo {
            position: relative;
            text-align: left;
            width: 100%;
            .rtl & {
                text-align: right;
            }
            img {
                max-height: 50px;
            }
            &.light {
                display: block;
                .dark-layout & {
                    display: none;
                }
            }
            &.dark {
                display: none;
                .dark-layout & {
                    display: block;
                }
            }
        }
    }

    .text-box{
        position: relative;
        padding: 25px 30px 25px;
        .title{
            color: var(--theme-color-dark);
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
        .text{
            color: var(--theme-color-dark);
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
    }
}

 .hidden-bar-back-drop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .50);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.active-hidden-bar .hidden-bar {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.active-hidden-bar .hidden-bar-back-drop {
    opacity: 1;
    visibility: visible;
}


.hidden-bar .social-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--theme-color-light);
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: auto;
    .dark-layout & {
        background: var(--dark-layout-color);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    li {
        position: relative;
        text-align: center;
        width: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        .dark-layout & {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }
        a {
            position: relative;
            display: block;
            line-height: 50px;
            height: 50px;
            font-size: 14px;
            text-align: center;
            color: var(--theme-color-dark);
            @include transition(all 300ms ease);
            .dark-layout & {
                color: var(--theme-color-light);
            }
            &:hover {
                color: var(--theme-color1);
            }
        }
    }
}